<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>My AngularJS App</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="app.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-controller="gridCtrl">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 center">
				<h2>Simple JS Grid with CRUD logic</h2>
			</div>
		</div>
		<div class="row row-main">
			<div class="col-md-2"><h3>Login</h3></div>
			<div class="col-md-2"><h3>Password</h3></div>
			<div class="col-md-2"><h3>Birth Date</h3></div>
			<div class="col-md-2"><h3>Reg Date</h3></div>
			<div class="col-md-2"><h3>Age</h3></div>
			<div class="col-md-2"><h3>Controllers</h3></div>
		</div>
 	
	 	<div ng-repeat="user in users">
		 	<div class="row" ng-class-odd="'row-first'" ng-class-even="'row-second'">
				<div class="col-md-2"><span class="lead">{{user.login}}</span></div>
				<div class="col-md-2"><span class="lead">{{user.password}}</span></div>
				<div class="col-md-2"><span class="lead">{{user.birthDate | date:'mediumDate'}}</span></div>
				<div class="col-md-2"><span class="lead">{{user.registrationDate | date:'mediumDate'}}</span></div>
				<div class="col-md-2"><span class="lead">{{user.age}}</span></div>
				<div class="col-md-1">
					<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal" ng-click="isUpdate=true;checker(isUpdate);saveUser(user);fillFields('update')">Update</button>
				</div>
				<div class="col-md-1">
					<button class="btn btn-danger btn-sm" ng-click="removeUser(user.id)">Remove</button>
				</div>
			</div>
		</div>
		<div class="row row-bottom">
			<div class="col-md-2 col-md-offset-5">
				<button type="button" class="btn btn-success button-add" data-toggle="modal" data-target="#myModal" ng-click="is.Update=false;checker(is.Update);fillFields('create')">Add Users</button>
			</div>
		</div>
	</div>

	<div class="container">
		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" ng-show="show()">User Update</h4>
						<h4 class="modal-title" ng-hide="show()">User Create</h4>
					</div>
					<div class="modal-body container-fluid">
						<form name="inputForm">
							<div class="col-md-6">
								<label>
									User login:
									<input type="text" name="userLogin" ng-model="userData.login" ng-minlength="3" ng-maxlength="15" ng-init="userData.login='login'" required>
								</label>
								<div role="alert" class="alert alert-dismissible alert-danger" ng-show="inputForm.userLogin.$error.minlength || inputForm.userLogin.$error.required || inputForm.userLogin.$error.maxlength">
									<span class="error" ng-show="inputForm.userLogin.$error.minlength">
									Too short!</span>
									<span class="error" ng-show="inputForm.userLogin.$error.maxlength">
									Too long!</span>
									<span class="error" ng-show="inputForm.userLogin.$error.required">
										Required!
									</span>
								</div>
							</div>
							<div class="col-md-6">
								<label>
									User password:
									<input type="text" name="userPassword" ng-model="userData.password" ng-minlength="3" ng-maxlength="15" ng-init="userData.password='password'" required>
								</label>
								<div role="alert" class="alert alert-dismissible alert-danger" ng-show="inputForm.userPassword.$error.minlength || inputForm.userPassword.$error.required || inputForm.userPassword.$error.maxlength">
									<span class="error" ng-show="inputForm.userPassword.$error.minlength">
									Too short!</span>
									<span class="error" ng-show="inputForm.userPassword.$error.maxlength">
									Too long!</span>
									<span class="error" ng-show="inputForm.userPassword.$error.required">
										Required!
									</span>
								</div>
							</div>
							<div class="col-md-6">
								<label>
									User birth Date:
									<input type="date" name="userBirthDate" ng-model="userData.birthDate" placeholder="yyyy-MM-dd">
								</label>
								<div role="alert" class="alert alert-dismissible alert-danger" ng-show="inputForm.userBirthDate.$error.date">
									<span class="error" ng-show="inputForm.userBirthDate.$error.date">
									Date Error!</span>
								</div>
							</div>
							<div class="col-md-6">
								<label>
									User registration Date:
									<input type="date" name="userRegistrationDate" ng-model="userData.registrationDate" placeholder="yyyy-MM-dd">
								</label>
								<div role="alert" class="alert alert-dismissible alert-danger" ng-show="inputForm.userRegistrationDate.$error.date">
									<span class="error" ng-show="inputForm.userRegistrationDate.$error.date">Date Error!</span>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" ng-click="updateUser(userData)" ng-show="show()">Update User</button>
						<button class="btn btn-primary" ng-click="addUser(userData)" ng-hide="show()">Add User</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="app.js"></script>
	<script src="components/gridCtrl.js"></script>
</body>
</html>
