<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>My AngularJS App</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="app.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-controller="gridCtrl">
	<div class="container">
		<div class="row">
			<div class="col-md-2">Login</div>
			<div class="col-md-2">Password</div>
			<div class="col-md-2">Birth Date</div>
			<div class="col-md-2">Registration Date</div>
			<div class="col-md-2">Age</div>
		</div>
 	
	 	<div class="row" ng-repeat="user in users">
			<div class="col-md-2">{{user.login}}</div>
			<div class="col-md-2">{{user.password}}</div>
			<div class="col-md-2">{{user.birthDate}}</div>
			<div class="col-md-2">{{user.registrationDate}}</div>
			<div class="col-md-2">{{user.age}}</div>
			<div class="col-md-1">
				<button class="remove-btn" ng-click="removeUser(user.id)">Remove</button>
			</div>
			<div class="col-md-1">
				<button class="update-btn" data-toggle="modal" data-target="#myModal" ng-click="updateUser(user)">Update</button>
			</div>
		</div>
	</div>

	<div class="container">
		<!-- Trigger the modal with a button -->
		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Users</button>

		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">User creator</h4>
					</div>
					<div class="modal-body">
						<form name="inputForm">
							<label>
								User login:
								<input type="text" name="userLogin" ng-model="userData.login" required>

							</label>
							<div role="alert">
								<span class="error" ng-show="inputForm.userLogin.$error.required">
									Required!
								</span>
							</div>

							<label>
								User password:
								<input type="text" name="userPassword" ng-model="userData.password" ng-minlength="3" ng-maxlength="20" required>
							</label>
							<div role="alert">
								<span class="error" ng-show="inputForm.userPassword.$error.minlength">
								Too short!</span>
								<span class="error" ng-show="inputForm.userPassword.$error.maxlength">
								Too long!</span>
								<span class="error" ng-show="inputForm.userPassword.$error.required">
									Required!
								</span>
							</div>

							<label>
							User birth Date:
							<input type="date" name="userBirthDate" ng-model="userData.birthDate" placeholder="yyyy-MM-dd">
							</label>
							<div role="alert">
								<span class="error" ng-show="inputForm.userBirthDate.$error.date">
								Date Error!</span>
							</div>

							<label>
							User registration Date:
							<input type="date" name="userRegistrationDate" ng-model="userData.registrationDate" placeholder="yyyy-MM-dd">
							</label>
							<div role="alert">
								<span class="error" ng-show="inputForm.userRegistrationDate.$error.date">Date Error!</span>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" ng-click="addUser(userData)">Add User</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="app.js"></script>
	<script src="components/gridCtrl.js"></script>
</body>
</html>
